/*
  Don't use #tools as the popover is wired to the original HTML element.
  I had to set the width/height to properly place the popover.
*/
digimap-tools {
  position: absolute;
  right: 3em;
  top: 0.5em;
  z-index: 100;
  width: 56px;
  height: 42px;
}

/*
  Make app tools buttons same size.
*/
.popover {
  max-width: 500px;
  width: 400px;
}
.cell {
  padding: 5px !important;
}

.tool .glyphicon.glyphicon-print,
.tool .glyphicon.glyphicon-cloud-upload,
.tool .glyphicon.glyphicon-cloud-download,
.tool .glyphicon.glyphicon-floppy-disk,
.tool .glyphicon.glyphicon-pencil,
.tool .glyphicon.glyphicon-info-sign {
  font-size: 30px;
}