digimap-search {
  position: absolute;
  left: 10em;
  top: 0.5em;
  z-index: 100;
  width: 15em;
}

digimap-search .popover {
  max-width: 200px;
}

#search input {
  background-color: transparent;
  color: #000;
  font-weight: bold;
}

#search .input-group-addon {
  padding: 0;
}

#search .input-group-addon {
  background-color: transparent;
  border: none;
}

#search li {
  list-style-type: none;
}