<div id="search" class="input-group" data-ng-model="vm">
  <input id="searchTerm" type="search" class="form-control" data-ng-model="vm.search.searchTerm" placeholder="Enter Search Text" aria-describedby="basic-addon2" />
<!--  <input id="searchTerm" type="search" class="form-control" data-ng-model="vm.search.searchTerm" ng-keypress="vm.search()" placeholder="Enter Search Text" aria-describedby="basic-addon2" />

-->
<!--  <pre><code>{{vm.searchResults}}</code></pre>
-->  <ul>
    <li ng-repeat="result in searchResults">{{result.searchTerm}}</li>

<!--    <li ng-repeat="result in searchResults | filter:search " ng-if="!search">{{x.name}}</li>
-->  </ul>
  <span class="input-group-addon" id="basic-addon2">
    <button type="button" class="btn btn-primary" data-ng-click="vm.search()"><i class="glyphicon glyphicon-search"></i></button>
  </span>
</div>
